* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f2025;
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
}

/* ================= HEADER ================= */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.star {
    color: #3ddad7;
    margin-right: 8px;
}

.navbar {
    background: #2b2d34;
    padding: 6px;
    border-radius: 40px;
    display: flex;
    gap: 6px;
}

.navbar a {
    color: #cfcfcf;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar a:hover {
    background: #3ddad7;
    color: #000;
}

.navbar .active {
    background: #3ddad7;
    color: #000;
}

/* ================= HERO ================= */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

/* LEFT */
.hero-text {
    width: 50%;
}

.welcome {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;

}

h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.highlight {
    color: #3ddad7;
}

.description {
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
    line-height: 1.25;
    color: #d8d8d8;
    margin-top: 18px;
    margin-bottom: 26px;;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 18px;
    margin-top: 6px;
}

.btn {
    padding: 12px 28px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.contact {
    background: white;
    color: black;
}

.cv {
    background: #2b2d34;
    color: #3ddad7;
}

/* RIGHT IMAGE */
.hero-image {
    position: relative;
    width: 40%;
}

.hexagon {
    width: 420px;
    height: 420px;
    background: #35d6d1;
    position: relative;

    /* HEXAGON SHAPE */
    clip-path: polygon(
        50% 3%,
        92% 25%,
        92% 75%,
        50% 97%,
        8% 75%,
        8% 25%
    );

    /* ROTATION */
    transform: rotate(-8deg);

    /* SMOOTHNESS */
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #35d6d1;

    clip-path: inherit;
    border-radius: inherit;

    transform: translate(22px, 16px);
    opacity: 0.85;

    z-index: -1;
}

.hexagon img {
    width: 75%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transform: rotate(8deg); /* cancels parent rotation */
}

.hero-image img {
    width: 320px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin: 30px;
}

/* SOCIAL ICONS */
.socials {
    position: absolute;
    bottom: -40px;
    right: 40px;
    display: flex;
    gap: 15px;
    transform: rotate(28deg);
}

.socials a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.btn {
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}